@media screen and (max-width: 1200px) {
   .intro{
    padding: auto;
    margin: auto;
   }
   .aboutme{
    padding: auto;
    margin: auto;
   }
   /* .div-1{
    padding: auto;
    margin: auto;
   } */
    .intro h1, .aboutme h1, .div-1 h1 {
        font-size: 2em;
        margin: auto;
        padding: auto;
    }
    .intro p, .div-1 p, .footer p {
        font-size: 1em;
        /* margin: auto;
        padding: auto; */
       
        max-width: 100%; 
    }
    .aboutme p{
        font-size: 0.7em;
       
        max-width: 100%; 
        
    }
    .profile-image{
        max-width: 25%;
        max-height: 25%;

    }
    .navbar a{
     font-size: 0.7em;
    }
    .div-1 hr{
        margin-left: auto;
        margin-right: auto;
        margin-top:20px;
        
    }
}
