@media screen and (max-width: 1200px) {
    .intro h1, .aboutme h1, .div-1 h1 {
        font-size: 2em;
        margin: auto;
        padding: auto;
    }
    .aboutme p, .intro p, .div-1 p, .footer p {
        font-size: 1.3em;
        margin: auto;
        padding: auto;
    }
    .profile-image{
        max-width: 25%;
        max-height: 25%;

    }
    .navbar a{
     font-size: 2em;
    }
}
