.div-1{
    padding: 100px;
    padding-bottom: 60px;


}
.div-1 h1{
    color: #ffab08;
    font-size: 40px;
    font-weight: lighter;
    font-family: 'Alata', sans-serif;
    text-align: center;
}
.div-1 p{
    font-weight: lighter;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: lighter;
    font-family: 'DM Sans', sans-serif;

    font-size:x-large;
}
.div-1 hr{
  
    color: red;
    border-color: red;
    height: 3px;
    background-color: red;
    width: 40%;
    margin: auto;
}
.img-1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
    margin-bottom: 80px;
    margin-top: 100px;


  }
  .img-2{
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
    margin-bottom: 80px;
    width: 90%;
    height: 90%;
  }
  .img2{
    display: flex;
    justify-content: center;
    align-items: center;
  }