.div-1{
    padding: 100px;
    padding-bottom: 60px;


}
.div-1 h1{
    color: #ffab08;
    font-size: 40px;
    font-weight: lighter;
    font-family: 'Alata', sans-serif;
    text-align: center;
}
.div-1 p{
  font-size: 1.5em;
  /* word-wrap: break-word; */
  line-height: 1.6;
  font-family: 'Alata';
  text-align: center;
}
.div-1 hr{
  
  width: 50%;
  color: red;
  background-color: #DA004D;
  height: 5px;
  margin-top: 20px;
  margin-left:260px ;
}

.img-1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
    margin-bottom: 80px;
    margin-top: 100px;


  }
  .img-2{
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
    margin-bottom: 80px;
    width: 90%;
    height: 90%;
  }
  .img2{
    display: flex;
    justify-content: center;
    align-items: center;
  }